<ul>
    <% page.posts.each(function(item){ %>
        <li class="post">
            <a href="<%- url_for(item.path) %>" class="post-link">
                <%- item.title %>
            </a>
        </li>
    <% }); %>
</ul>

<%- partial('_partial/pagination') %>