.post
{
    margin-top: 1em;
    font-size: 120%;
}

.my-pagination
{
    margin-top: 3em;
    display: flex;
    flex-wrap: wrap; /* Optional. only if you want the items to wrap */
    justify-content: center; /* For horizontal alignment */
    align-items: center; /* For vertical alignment */
}

.page-number
{
    margin-left: 1em;
    margin-right: 1em;
}

.post-head
{

}

.post-text
{
    text-align: justify;
    margin-top: 1.5em;
}