.post {
	margin-top: 1em;
	font-size: 120%
}

.my-pagination {
	margin-top: 3em;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center
}

.page-number {
	margin-left: 1em;
	margin-right: 1em
}

.post-text {
	text-align: justify;
	margin-top: 1.5em
}

.container {
	padding-top: 1em
}

.post-link {
	color: rgba(0, 0, 0, .7)!important
}